<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="../css/app.css" rel="stylesheet">
    <!--<link href="../css/plugins/bootstrap.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
    <link href="../css/plugins/pagination/data-table.css" rel="stylesheet">
    <link href="../css/plugins/pagination/pagination.css" rel="stylesheet">
</head>
<body>
<div>
    <main class="py-4">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <h1>Phone numbers</h1>
                    <br>
                    <select id="selectFilterCountry">
                        <option value="all">Country</option>
                        <option value="237">Cameroon</option>
                        <option value="251">Ethiopia</option>
                        <option value="212">Morocco</option>
                        <option value="258">Mozambique</option>
                        <option value="256">Uganda</option>
                    </select>

                    <select id="selectFilterState">
                        <option value="all">Both</option>
                        <option value="1">OK</option>
                        <option value="0">NOK</option>
                    </select>
                    <br>&nbsp;
                    <table id="tablePhoneNumbers" class="table">
                        <thead id="tablePhoneNumbersHead">
                        </thead>
                        <tbody id="tablePhoneNumbersBody">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>
</div>

<script src="../js/plugins/jquery/jquery.min.js"></script>
<script src="../js/plugins/pagination/data-tables.js"></script>
<script src="../js/plugins/pagination/data-table-options.js"></script>
<script src="../js/tableActions.js"></script>
<script src="../js/phoneNumbers.js"></script>
</body>
</html>
