<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/plugins/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
</head>
<body>
<div>
    <main class="py-4">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <h1>Phone numbers</h1>
                    <table id="tablePhoneNumbers" class="table">
                        <thead>
                        <tr>
                            <th scope="col">Country</th>
                            <th scope="col">State</th>
                            <th scope="col">Country code</th>
                            <th scope="col">Phone num.</th>
                        </tr>
                        </thead>
                        <tbody id="tablePhoneNumbersBody">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>
</div>

<script src="../js/plugins/jquery.min.js"></script>
<script src="../js/phoneNumbers.js"></script>
</body>
</html>
